<!-- $Id: dishe_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div">
<form method="post" action="dishes.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
 <tr>
    <td class="label">编号</td>
    <td><input type="text" name="id" maxlength="60" value="{$dishe.id}" disabled="disabled"/></td>
  </tr>
  <tr>
    <td class="label">菜名</td>
    <td><input type="text" name="name" maxlength="60" value="{$dishe.name}" />{$lang.require_field}</td>
  </tr>
  
  <tr>
    <td class="label">类别</td>
    <td>
    <select id="cate_id" name="cate_id" >
    {foreach from=$category_list key=id item=cate}
    	{if $cate.id eq $dishe.cate_id}
    	<option value="{$cate.id}" selected="selected">{$cate.name}</option>
    	{else }
    	<option value="{$cate.id}">{$cate.name}</option>
    	{/if}
    {/foreach}
    </select>
    {$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">是否主厨推荐</td>
    <td><input type="radio" name="isRecommend" value="1" {if $dishe.isRecommend eq 1}checked="checked"{/if} /> {$lang.yes}
        <input type="radio" name="isRecommend" value="0" {if $dishe.isRecommend eq 0}checked="checked"{/if} /> {$lang.no}
    </td>
  </tr>
  
  <tr>
    <td class="label">价格</td>
    <td><input type="text" name="price1_key" style="width:40px;" value="{$dishe.price1.key}" />：<input type="text" name="price1_val" style="width:50px;" value="{$dishe.price1.val}" /> 
    {$lang.require_field}(例：大盘：20.5元/盘)</td>
  </tr>
  <tr>
    <td class="label"></td>
    <td><input type="text" name="price2_key" style="width:40px;" value="{$dishe.price2.key}" />：<input type="text" name="price2_val" style="width:50px;" value="{$dishe.price2.val}" /></td>
  </tr>
  <tr>
    <td class="label"></td>
    <td><input type="text" name="price3_key" style="width:40px;" value="{$dishe.price3.key}" />：<input type="text" name="price3_val" style="width:50px;" value="{$dishe.price3.val}" /></td>
  </tr>
  
  <tr>
    <td class="label">排序</td>
    <td><input type="text" name="sort" maxlength="20" value="{$dishe.sort}" /></td>
  </tr>
  
  <tr>
    <td class="label">图片</td>
    <td><input type="file" name="img" />
    	{if $dishe.img}
         <img width="200" height="200"  src="images/disheimg/{$rest}/{$dishe.img}" border="0" />
         <br>
         <input type="checkbox" name="del_img" />删除此菜品的图片
        {else}
          <img width="200" height="200" src="images/disheimg/nopicture.gif" />
        {/if}
    </td>
  </tr>
  
  <tr>
    <td class="label">简介</td>
    <td><textarea  name="description" cols="60" rows="4"  >{$dishe.description}</textarea></td>
  </tr>
  
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_dishename" value="{$dishe.name}" />
      <input type="hidden" name="id" value="{$dishe.id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("name",  "必须填写菜品名称！");
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}